<div class="container mt-5">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-4">
        <div class="card-body">
          <h3 class="text-center" style="color: #2a60d3">Welcome to IShop stores</h3>
          <h3 class="card-title text-center">Sign up</h3>
          <div *ngIf="errors && errors.length" class="alert alert-danger">
            <ul>
              <li *ngFor="let error of errors" >{{error}}</li>
            </ul>
          </div>
          <form class="form-signin" (ngSubmit)="register()" #registerForm="ngForm" >
            <div class="form-label-group">
              <label for="input-username">Email</label>
              <div *ngIf="username.invalid && username.touched">
                <p class="text-danger" style="font-size: 1rem" *ngIf="username.errors?.required">
                  Email is required!
                </p>
              </div>
              <input class="form-control"
                     type="email"
                     [(ngModel)]="user.username"
                     #username="ngModel"
                     name="email"
                     email="true"
                     id="input-username"
                     placeholder="Email"
                     autofocus
                     required="required">
            </div>
            <div class="form-label-group">
              <label for="input-password">Password
              </label>
              <div *ngIf="password.invalid && password.touched">
                <p class="text-danger" style="font-size: 1rem" *ngIf="password.errors?.required">
                  password is required!
                </p>
              </div>
              <input class="form-control"
                     type="password"
                     [(ngModel)]="user.password"
                     #password="ngModel"
                     name="password"
                     type="password"
                     id="input-password"
                     placeholder="Password"
                     required="required">
            </div>
            <div class="form-label-group">
              <label for="input-confirmation-password">Repeat password
              </label>
              <div *ngIf="confirmationPassword.invalid && confirmationPassword.touched">
                <p class="text-danger" style="font-size: 1rem" *ngIf="confirmationPassword.errors?.required">
                  confirmation password is required!
                </p>
                <p class="col-sm-4" *ngIf="password.value != confirmationPassword.value && !confirmationPassword.errors?.required"
                   class="text-danger">
                  The password does not match the confirmation password.
                </p>
              </div>
              <input class="form-control"
                     type="password"
                     [(ngModel)]="user.confirmationPassword"
                     #confirmationPassword="ngModel"
                     name="confirmationPassword"
                     type="password"
                     id="input-confirmation-password"
                     placeholder="Repeat password"
                     required="required">
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                    [disabled]="submitted || !registerForm.valid || password.value != confirmationPassword.value"
                    [class.btn-pulse]="submitted">Sign Up</button>
            <hr class="my-4">
            <div>
              <span class="m-1">Already have an account? <a [routerLink]="['/auth/login']">Sign in</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

