<div class="container mt-5">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-4">
        <div class="card-body">
          <h3 class="card-title text-center">Sign in</h3>
          <div *ngIf="errors && errors.length" class="alert alert-danger">
            <ul>
              <li *ngFor="let error of errors" >{{error}}</li>
            </ul>
          </div>
          <form class="form-signin" (ngSubmit)="login()" >
            <div class="form-label-group">
              <label for="input-username">Email</label>
              <input class="form-control"
                     type="text"
                     [(ngModel)]="user.username"
                     #username="ngModel"
                     name="username"
                     id="input-username"
                     pattern=".+"
                     placeholder="Email"
                     autofocus
                     required="required">
            </div>
            <div class="form-label-group">
              <label for="input-password">Password
              </label>
              <input class="form-control"
                     type="password"
                     [(ngModel)]="user.password"
                     #password="ngModel"
                     name="password"
                     type="password"
                     id="input-password"
                     placeholder="Password"
                     required="required">
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign In</button>
            <hr class="my-4">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

